/* GERAIS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap'); /* Adicionei o ponto e vírgula aqui */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

:root {
  --fonte: 'Work Sans', sans-serif;
  font-size: 62.5%;

  --cor-primaria: #00e01d;
  --cor-secundaria: #1b2f39;
  --cor-terciaria: #ebf1f2;

  --cor-fundo: #fff;

  --cor-selecao: #ccf9d2;
  --cor-texto-selecao: #1b2f39;
  --cor-texto: #1b2f39;

  --cor-apoio: #57676f;
  --cor-linha: #e9eaeb;

  --cor-importante: #FC3636;
  --cor-alerta: #F0CC0D;
  --cor-sucesso: #00A816;
  --cor-acao: #0187B1;

  --cor-sombra: rgba(27, 47, 57, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fonte: 'Work Sans', sans-serif;
    font-size: 62.5%;

    --cor-primaria: #00e01d;
    --cor-secundaria: #ebf1f2;
    --cor-terciaria: #1b2f39;

    --cor-fundo: #0d1117;

    --cor-selecao: #ccf9d2;
    --cor-texto-selecao: #1b2f39;
    --cor-texto: #f9f9f9;

    --cor-apoio: #81949c;
    --cor-linha: #e9eaeb;

    --cor-importante: #bb0202;
    --cor-alerta: #f0cc0d;
    --cor-sucesso: #00a816;

    --cor-sombra: rgba(252, 252, 253, 0.224);
  }
}

body {
  font-family: var(--fonte);
  font-size: 1.6rem;
  font-weight: 300;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

.texto-pequeno {
  font-size: 1rem;
}

.texto-medio {
  font-size: 1.2rem;
}

.texto-grande {
  font-size: 1.4rem;
}

.fadeBaixo-enter-active,
.fadeBaixo-leave-active,
.fadeTopo-enter-active,
.fadeTopo-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease-in-out;
  transform: translateY(0px);
}

.fadeTopo-enter-from,
.fadeTopo-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}

.fadeBaixo-enter-from,
.fadeBaixo-leave-to {
  opacity: 0;
  transform: translateY(100px);
}
